<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AntiStressColorShuffler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AntiStressColorShuffler.Properties.Settings>
            <setting name="ShapeSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ShapeType" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCheckVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckWeek" serializeAs="String">
                <value>True</value>
            </setting>
        </AntiStressColorShuffler.Properties.Settings>
    </userSettings>
</configuration>